<div class="bf-footer container mt-4">
    <div class="bf-footer-powered-by">
        <div class="align-items-center">
            <div class="col">
                <span>Powered by</span></div>
            <div class="col">
                <a ng-href="https://www.blueface.com" href="https://www.blueface.com">
                <img ng-src="../../img/logo.png" src="../../img/logo.png"></a>
            </div>
            <div class="col">
                <span>Michael Joyce Demo</span></div>
        </div>
    </div>
</div>